<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="TestDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\\Users\\Антон Дмитрийчук\\Desktop\\интерфейсы\\WindowsFormsApp1\\Database1.mdb;Persist Security Info=True"/>
	</connectionStrings>
</configuration>